[Desktop Entry]
Categories=Utility;
Comment[es_ES]=Estúpidamente simple.
Comment=Stupidly simple.
Exec=plank
GenericName=Dock
Icon=plank
Name=Plank
NoDisplay=false
NotShowIn=Pantheon;
Terminal=false
Type=Application
